/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */
/*html, body {
    height: 100%;
}

body {
    color: #bfbfbf;
    background: black;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {
    color: white;
}

.titreBillet {
    margin-bottom : 0px;
}

#global {
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
/*    background: #333534;
    width: 70%;
    margin: auto;	/* Permet de centrer la div */
/*    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;
}

#titreBlog, #piedBlog {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}*/
/*
-----------------------------------------------------------------------------------------------------------------------------
																RESET CSS
-----------------------------------------------------------------------------------------------------------------------------
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

/*
-----------------------------------------------------------------------------------------------------------------------------
																GENERAL
-----------------------------------------------------------------------------------------------------------------------------
*/

body {
    font-family: 'Open Sans', sans-serif;

    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    width: 810px;
}

/* ------ HEADER ------ */
header {
    background-color:#3498db;
}
header h1 {
    margin-right: 290px;
}
header img {
    float: left;
    margin-left:314px;
    padding-top: 2em;
}

/* ------ CORPS ------ */
section, aside {
    padding-top: 2em;
}

h1 {
    text-align: center;
    font-size: 3.3em;
    color: #fff;
    font-weight: 400;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #7f8c8d;
    padding: 0.3em;
}

p {
    text-align: center;
    color: #7f8c8d;
    line-height: 2em;
}

img {
    position: relative;
    display: block;
}


#body img {
    float: left;
    margin-left:280px;
    margin-top: 8px;
}

#body h2 {
    margin-right: 230px;
}


/* ------ FOOTER ------ */
footer {
    background-color:#3498db;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    bottom: 0;
    position: relative;
}
footer li {
    list-style-type: none;
    display: inline;
    padding-right: 2em;
}

footer li:first-child {
    margin-left:254px;
}

.facebook, .twitter, .instagram {
    float: right;
    margin-left:4px;
}
.facebook {
    margin-right: 255px;
}

footer li a {
    color: #fff;
}
.souligne {
    border-bottom: 1px solid #ffffff;
}


/*
-----------------------------------------------------------------------------------------------------------------------------
															HOME PAGE
-----------------------------------------------------------------------------------------------------------------------------
*/


/* ------ CTA ------ */
.cta {
    position: relative;
    width: 60%;
    margin: auto;
}
.cta a {
    float: left;
    width: 40%;
    background-color: #565a5e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    margin-right:1em;
}


.homespace {
    margin-bottom: 100px;
}


/*
-----------------------------------------------------------------------------------------------------------------------------
															PAGE UPLAOD
-----------------------------------------------------------------------------------------------------------------------------
*/

#upload img {
    float: left;
    margin-left:240px;
    margin-top: 8px;
}

#upload h2 {
    margin-right: 200px;
}

.zone-image {
    position: relative;
    float: left;
    width: 400px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.zone-cta {
    float: right;
    margin-top: 35px;
    margin-right: 120px;
    width: 200px;
}
.zone-cta a {
    position: relative;
    float: left;
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    margin-bottom: 25px;
}


#choose_file,#from_facebook,#valid-button, #show_gallery {
    position: relative;
    float: left;
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    margin-bottom: 25px;
}

.cta-photo {
    background-color: #565a5e;
}
.cta-valider  {
    background-color: #7f8c8d;
}
.cta-galerie {
    background-color: #3498db;
}


/*
-----------------------------------------------------------------------------------------------------------------------------
															PAGE GALERIE
-----------------------------------------------------------------------------------------------------------------------------
*/


#participer {
    position: relative;
    float: left;
    width: 50%;
    margin:auto;
}
#participer a {
    float: left;
    width: 50%;
    padding: 1em;
    margin-left:30px;
    background-color: #565a5e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

#trier {
    position: relative;
    float: left;
    width: 50%;
}

#trier select {
    width: 60%;
    height: 55px;
    float: right;
    margin-right: 30px;
    background-color: #f0f0f0;
    text-transform: uppercase;
    font-size: 16px;
}

#galerie {
    position: relative;
    float: left;
    width: 752px;
    margin: 0px 30px 50px 30px;
}

.item-galerie {
    float: left;
    position: relative;
    width: 170px;
    margin-right: 20px;
}

.item-galerie:last-child {
    margin-right: 0px;
}


#galerie li {
    float: left;
    display: inline-block;
    list-style-type: none;
    width: 140px;
    margin-right: 25px;
}

.list-inline li {
    display: inline-block;
    list-style-type: none;
    margin-right: 25px;

}

#galerie li:last-child {
    margin-right: 0px;
    margin-bottom: 20px;
}

#galerie img {
    display: block;
    border: 0;
}

#galerie a {
    float: left;
    width: 125px;
    margin-top: 10px;
    padding: 4px;
    background-color: #565a5e;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
}

/*
-----------------------------------------------------------------------------------------------------------------------------
															PAGE MERCI
-----------------------------------------------------------------------------------------------------------------------------
*/

/* ------ CTA ------ */
.cta-merci {
    position: relative;
    width: 90%;
    margin: auto;
}
.cta-merci a {
    float: left;
    width: 25%;
    background-color: #565a5e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    margin-right:1.5em;
    margin-bottom: 3em;
}


/*
-----------------------------------------------------------------------------------------------------------------------------
															PAGE PODIUM
-----------------------------------------------------------------------------------------------------------------------------
*/


#resultat img {
    float: left;
    margin-left:210px;
    margin-top: 8px;
}

#resultat h2 {
    margin-right: 170px;
}


#podium {
    width: 100%;
    height: 565px;
    background-image: url('../img/podium.jpg');
    background-repeat:no-repeat;
    padding: 0;
    margin-top: 50px;
}
.podium-title {
    background-color: #7f8c8d;
    color:#ffffff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.podium-title span {
    margin-right: 314px;
}
.podium-title img {
    float: left;
    margin-left:314px;
}

.bloc-prix {
    width: 100%;
    height: 40px;
    background-color: #818e8f;
}
.prix-title {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
}

.premier-prix {
    width: 231px;
    height: 381px;
    background-color: #ffffff;
    float: left;
    position: relative;
    margin-left:30px;
    margin-top:70px;
}

.second-prix {
    width: 231px;
    height: 312px;
    background-color: #ffffff;
    float: left;
    position: relative;
    margin-left:30px;
    margin-top:138px;
}

.troisieme-prix {
    width: 231px;
    height: 284px;
    background-color: #ffffff;
    float: left;
    position: relative;
    margin-left:30px;
    margin-top:166px;
}

.bloc-prix img {
    margin-top: 20px;
    margin-left: 23px;
}

.item-prix {
    margin-left:66px;
    position: absolute;
}
.item-premier {
    margin-top: 310px;
}
.item-second {
    margin-top: 240px;
}
.item-troisieme {
    margin-top: 214px;
}






/*----------------*/

input#fichier {
    position: absolute;
    left: 0;
    width: 200px;
    height: 50px;
    cursor: pointer;
    opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}


#participation_photo{
    width: 50%;
    max-width: 600px;
    height: 50%;
    max-height: 600px;
}

.photo_participation{
    margin: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.list-inline>div>li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

span.roll {
    background:url('../img/mag.png') center center no-repeat #000;
    height: 100px;
    position: absolute;
    width: 125px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px  #000;
    box-shadow: 0px 0px 4px  #000;
}